main {
    width: 700px;
}

.first-row {
    display: flex;
}

.first-row__item {
    width: 50%;
}

.right {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

.right p {
    margin-bottom: 30px;
}

.first-row__item+.first-row__item {
    margin-left: 40px;
}

.speech-bubble {
    width: 300px;
    color: white;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
}

.speech-bubble::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    border-style: solid;
    border-width: 20px 10px 0px 10px;
    border-color: #1e1e1e transparent transparent;
    translate: -50% 100%;
}

.face-and-profile {
    display: flex;
}

.face-and-profile__face {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: lightgray;
    margin-right: 20px;
}

.profile__name {
    font-size: 1.5rem;
}

.profile__position {
    font-size: 0.75rem;
    margin-top: -30px;
}

.second-row {
    margin-top: 30px;
    display: flex;
}

.second-row__img {
    width: 30%;
    border-radius: 10%;
    object-fit: cover;
    background-color: lightgray;
    margin-right: 20px;
}

.profile-with-stars {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 20px;
}

.stars {
    font-size: 1.5rem;
    color: yellow;
    letter-spacing: -5px;
    margin-top: 0px;
    margin-bottom: -20px;
}

.profile-with-stars__name {
    font-size: 1.75rem;
    color: white;
}

.profile-with-stars__position {
    margin-top: -20px;
    color: gray;
}

.profile-with-stars__description {
    color: white;
}

.third-row {
    margin: 20px 0;
    border: 1px black solid;
    border-radius: 20px;
}

.third-row__p {
    margin: 40px 40px;
}

.third-row_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-main {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    background-color: lightgray;
    margin: 5px;
}

.img-transparent {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    background-color: lightgray;
    opacity: 50%;
}

.page-symbol {
    margin: 0px 20px;
}

.third-row__name {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}